Package: dev.traurige.kayoko
Name: Kayoko
Depends: firmware (>= 13.0), mobilesubstrate, preferenceloader, com.opa334.libsandy
Version: 1.3.1
Architecture: iphoneos-arm
Description: Feature rich clipboard manager for iOS
Maintainer: Traurige <hello@traurige.dev>
Author: Traurige <hello@traurige.dev>
Section: Tweaks
