Package: codes.aurora.kayoko
Name: Kayoko
Version: 2.0
Architecture: iphoneos-arm
Description: Clipboard manager for iOS.
Maintainer: Alexandra Aurora Göttlicher
Author: Alexandra Aurora Göttlicher
Section: Tweaks
Depends: firmware (>= 14.0), firmware (<< 16), mobilesubstrate, preferenceloader, com.opa334.libsandy
