<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>CallaSingleContactCell</string>
			<key>DisplayName</key>
			<string>Alexandra</string>
			<key>Username</key>
			<string>Traurige</string>
			<key>Url</key>
			<string>https://github.com/Traurige</string>
			<key>height</key>
			<real>58</real>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>dev.traurige.kayoko.preferences</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enable Kayoko</string>
            <key>PostNotification</key>
			<string>dev.traurige.kayoko.preferences.reload</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>History</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Maximum Amount</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>200</real>
			<key>defaults</key>
			<string>dev.traurige.kayoko.preferences</string>
			<key>key</key>
			<string>MaximumHistoryAmount</string>
			<key>min</key>
			<real>50</real>
			<key>max</key>
			<real>500</real>
			<key>showValue</key>
			<true />
			<key>isSegmented</key>
			<true />
			<key>segmentCount</key>
			<real>9</real>
			<key>PostNotification</key>
			<string>dev.traurige.kayoko.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>dev.traurige.kayoko.preferences</string>
			<key>key</key>
			<string>SaveText</string>
			<key>label</key>
			<string>Save Text</string>
			<key>PostNotification</key>
			<string>dev.traurige.kayoko.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>dev.traurige.kayoko.preferences</string>
			<key>key</key>
			<string>SaveImages</string>
			<key>label</key>
			<string>Save Images</string>
			<key>PostNotification</key>
			<string>dev.traurige.kayoko.preferences.reload</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Behavior</string>
			<key>footerText</key>
			<string>The "Prediction Bar" method displays custom suggestions on the "More Keyboard Keyplane" (123).</string>
			<key>isStaticText</key>
			<true />
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>defaults</key>
			<string>dev.traurige.kayoko.preferences</string>
			<key>label</key>
			<string>Activation Method</string>
			<key>key</key>
			<string>ActivationMethod</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Prediction Bar</string>
				<string>Dictation Key</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>dev.traurige.kayoko.preferences</string>
			<key>key</key>
			<string>AutomaticallyPaste</string>
			<key>label</key>
			<string>Automatically Paste</string>
			<key>PostNotification</key>
			<string>dev.traurige.kayoko.preferences.reload</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Extras</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>dev.traurige.kayoko.preferences</string>
			<key>key</key>
			<string>AddSongDotLinkOption</string>
			<key>label</key>
			<string>Add a Song.Link Option</string>
			<key>PostNotification</key>
			<string>dev.traurige.kayoko.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>dev.traurige.kayoko.preferences</string>
			<key>key</key>
			<string>AddTranslateOption</string>
			<key>label</key>
			<string>Add a Translate Option</string>
			<key>PostNotification</key>
			<string>dev.traurige.kayoko.preferences.reload</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Appearance &amp; Sound Effects</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Height (Points)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>480</real>
			<key>defaults</key>
			<string>dev.traurige.kayoko.preferences</string>
			<key>key</key>
			<string>HeightInPoints</string>
			<key>min</key>
			<real>200</real>
			<key>max</key>
			<real>600</real>
			<key>showValue</key>
			<true />
			<key>isSegmented</key>
			<false />
			<key>PostNotification</key>
			<string>dev.traurige.kayoko.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>dev.traurige.kayoko.preferences</string>
			<key>key</key>
			<string>PlaySoundEffects</string>
			<key>label</key>
			<string>Play Sound Effects</string>
			<key>PostNotification</key>
			<string>dev.traurige.kayoko.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>dev.traurige.kayoko.preferences</string>
			<key>key</key>
			<string>PlayHapticFeedback</string>
			<key>label</key>
			<string>Play Haptic Feedback</string>
			<key>PostNotification</key>
			<string>dev.traurige.kayoko.preferences.reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false />
			<key>defaults</key>
			<string>dev.traurige.kayoko.preferences</string>
			<key>key</key>
			<string>DisablePasteTips</string>
			<key>label</key>
			<string>Disable Paste Tips</string>
			<key>PostNotification</key>
			<string>dev.traurige.kayoko.preferences.reload</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Try out your changes by typing, copying and pasting text.</string>
			<key>isStaticText</key>
			<true />
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>placeholder</key>
			<string>Butterflies are pretty...</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Tools</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Respring</string>
			<key>action</key>
			<string>respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset Preferences</string>
			<key>action</key>
			<string>resetPrompt</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Clear History</string>
			<key>action</key>
			<string>clearHistoryPrompt</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Thanks to you and everyone who has helped in any way.</string>
			<key>isStaticText</key>
			<true />
		</dict>
		<dict>
 			<key>cell</key>
 			<string>PSLinkCell</string>
 			<key>label</key>
 			<string>Credits</string>
 			<key>detail</key>
 			<string>KayokoCreditsListController</string>
 		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Kayoko by Traurige</string>
			<key>isStaticText</key>
			<true />
		</dict>
		<dict>
			<key>cellClass</key>
			<string>CallaLinkCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>subtitle</key>
			<string>It's on GitHub</string>
			<key>url</key>
			<string>https://github.com/Traurige/Kayoko</string>
			<key>height</key>
			<real>52</real>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>CallaLinkCell</string>
			<key>label</key>
			<string>Bug/Feature</string>
			<key>subtitle</key>
			<string>Submit an issue</string>
			<key>url</key>
			<string>https://github.com/Traurige/Kayoko/issues/new/choose</string>
			<key>height</key>
			<real>52</real>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>CallaLinkCell</string>
			<key>label</key>
			<string>Donate</string>
			<key>subtitle</key>
			<string>I got a Ko-fi</string>
			<key>url</key>
			<string>https://ko-fi.com/traurige</string>
			<key>height</key>
			<real>52</real>
		</dict>
	</array>
	<key>title</key>
	<string>Kayoko</string>
</dict>
</plist>
